* {
    box-sizing: border-box;
}

:root {
    --primary-color: #001a57;
    --primary-color-hover: #424242;
    --primary-color-light-hover: #2a4481;
    --secondary-color: #82898f;
    /* griss: dcd6eb */
    --font-color-normal: #424242;
    --font-color-light: #ffffff;
}


body {
    /* Cambiada a una fuente juvenil */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    /* Fondo amarillo suave */
    background-color: var(--secondary-color);
    /* Texto gris oscuro */
    color: var(--font-color-normal);
}

header {
    /* Naranja brillante para el fondo */
    background-color: var(--primary-color);
    /* Texto blanco */
    color: var(--font-color-light);
    padding: 20px 0;
    text-align: center;
    position: relative;
    font-size: 50px;
}

.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo-icon {
    width: 200px;
    height: 200px;
}

.filters {
    /* Fondo blanco para los filtros */
    background-color: var(--font-color-light);
    padding: 20px;
    margin: 20px;
    /* Bordes redondeados */
    border-radius: 10px;
    /* Sombra suave */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.products,
.comparison {
    /* Fondo blanco para productos y comparaciones */
    background-color: var(--font-color-light);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h2 {
    /* Línea lavanda bajo títulos */
    border-bottom: 3px solid #9A8BFF;
    padding-bottom: 10px;
    /* Texto gris oscuro */
    color: var(--font-color-normal);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-item {
    /* Fondo amarillo suave para productos */
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 15px;
    /* Ancho fijo para todas las tarjetas */
    width: 40vw;
    /* Altura fija para todas las tarjetas */
    min-height: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 40px;
}

.product-item:hover {
    /* Mayor crecimiento al hacer hover */
    transform: scale(1.05);
    /* Cambia el fondo a naranja en hover */
    background-color: var(--primary-color-light-hover);
    /* Texto blanco en hover */
    color: var(--font-color-light);
}

.product-image {
    max-width: 100%;
    border-radius: 5px;
    /* Tamaño fijo para la imagen */
    height: 150px;
    object-fit: cover;
}


.product-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
    /* Texto gris oscuro */
    color: var(--font-color-light);
}

.product-item p {
    margin: 5px 0;
}

.compare-btn {
    /* Botón naranja brillante */
    background-color: var(--primary-color);
    /* Texto blanco en el botón */
    color: var(--font-color-light);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.compare-btn:hover {
    /* Hover en un naranja más oscuro */
    background-color: var(--primary-color-hover);
}

.comparison-table {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.comparison-row {
    /* Fondo amarillo suave */
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 15px;
    /* Ancho consistente con las tarjetas de productos */
    width: 43vw;
    /* Altura consistente con las tarjetas de productos */
    min-height: 450px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: var(--font-color-normal);
    margin: 10px auto 40px;
}

.comparison-row:hover {
    transform: scale(1.05);
    /* Cambia a naranja en hover */
    background-color: var(--primary-color-light-hover);
    /* Texto blanco en hover */
    color: var(--font-color-light);
}

/* Imagen de Producto en Comparación */
.comparison-row img {
    max-width: 100%;
    border-radius: 5px;
    height: 150px;
    object-fit: cover;
}

/* Títulos y Texto en Comparación */
.comparison-row h3 {
    font-size: 1.2em;
    margin: 10px 0;
    /* Mantiene el color actual */
    color: inherit;
}

.comparison-row p {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    /* Fondo gris oscuro */
    background-color: var(--font-color-normal);
    /* Texto blanco */
    color: var(--font-color-light);
}

.filters select,
.filters input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    /* Fondo naranja para los botones */
    color: var(--font-color-light);
    /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: var(--primary-color-hover);
    /* Hover en naranja oscuro */
}

/* Reportar Fraudes */
.report-info {
    background-color: var(--font-color-light);
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-info h2 {
    font-size: 1.8em;
    color: var(--font-color-normal);
    margin-bottom: 20px;
}

.report-info-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.report-info-form label {
    font-weight: 600;
    color: var(--font-color-normal);
    font-size: 1.1em;
}

.report-info-form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--secondary-color);
    transition: border 0.3s;
}

.report-info-form select:hover {
    border: 1px solid var(--primary-color-light-hover);
}

.report-info-item {
    width: 85vw;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: none;
    font-size: 1.5em;
    color: var(--font-color-normal);
    margin-bottom: 10px;
    align-items: center;
}

.report-info-item p {
    margin: 5px 0;
    font-size: 1em;
    color: var(--font-color-normal);
}

.report-info-form button {
    background-color: var(--primary-color);
    color: var(--font-color-light);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.report-info-form button:hover {
    background-color: var(--primary-color-hover);
}